@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Lexend+Mega:wght@100..900&display=swap');

@theme {
  --font-ubuntu: "ubuntu", sans-serif; 
  --font-xanh: "Xanh Mono", monospace; 
  --font-grotesk: "Space Grotesk", sans-serif;
  --font-lexen: "Lexend Giga", sans-serif;
  --font-monserrat: "Montserrat", sans-serif;
  --breakpoint-mbl: 400px;
  --breakpoint-pbl: 578px;
  --breakpoint-tub: 710px;
}